body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(/images/pexels-photo_1920.jpg);
  background-size: cover;
}

h1, h2, h3 {
  font-family: "Kalam";
  font-weight: bold;
}

.containter * {
  width: 100%;
  font-family: "Kalam";
  align-content: center;
}

.travel_list {
  width: 50%;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  font-family: "Kalam";
  background-color: rgba(0, 0, 0, 0.7);
  color: #EEEEEE;
}
h1{
     
}
a {
  color: #00B7FF;
}
