body {
  padding: 50px;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font-family: "Kalam";
  background-image: url(/images/pexels-photo_1920.jpg);
  background-size: cover;
}

h1, h2, h3 {
  font-family: "Kalam";
  font-weight: bold;
  position: relative;
  bottom: 60px;
  right: 20px;
  font-size: 45px;
}

.containter {
  padding: 20%;
  width: 60%;
}

.containter * {
  width: 100%;
  font-family: "Kalam";
  align-content: center;
}

.travel_list {
  display: inline-block;
  box-sizing: border-box;
  width: 200px;
  height: 400px;
  border-radius: 10px;
  margin: auto;
  padding: 10px;
  font-family: "Kalam";
  background-color: rgba(0,0,0,0.7);
  border: 2px solid black;
  /*background-image: url(/images/mole.png);*/
  background-size:cover;
  color: #EEEEEE;
}

.title {
  width: 100px;
  color: rgba(255,255,255,0.8);
  font-size: 18px;
  margin: 10px;
}

.description {
  border-radius: 5px;
  width: 100px;
  margin: 10px;
  font-size: 12px;
  background-color: rgba(255,255,255,0.8);
  color: rgba(0,0,0,0.8);
  padding: 10px;
}

.travelDate {
  margin: 10px;
  color: gold;
  font-size: 12px;
}

a {
  color: #00B7FF;
}

.btnPic {
  width: 64px;
  height: 64px;
  background-image: url(/images/camera-640-w.png);
  background-color:transparent;
  border-color:transparent;
}

#img {
  width: 64px;
  height: 64px;
  padding: 5px;
  cursor: pointer;

}

#img:hover {

  background-color: rgba(0,0,0,0.5);
  border-radius: 5px;
}

label {
  color: white;
}

input {
  font-size: 14px;
  font-family: "Kalam";
  color: white;
  background-color: rgba(0,0,0,0.4);
  border: 0px solid white;
  border-radius: 3px;
  padding: 5px;
}

select {
  font-size: 14px;
  font-family: "Kalam";
  color: white;
  background-color: rgba(0,0,0,0.4);
  border: 0px solid white;
  border-radius: 3px;
  padding: 5px;
}

header {
  font-size: 38px;
  font-family: "Kalam";
}

.pad {
  margin: auto 20%;
  padding: 10px;
  width: 50%;
  background-color: rgba(0,0,0,0.4);
  border: 2px solid white;
  border-radius: 10px;
}

.field {
  margin:5px;
}

button {
  font-size: 14px;
  font-family: "Kalam";
  color: rgba(0,0,0,0.5);
  background-color: white;
  border: 2px solid white;
  border-radius: 3px;
  padding: 5px;
}
