<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TravelPad Website</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Caveat|Kalam" rel="stylesheet">
  </head>
  <body>
    <%- body -%> <!-- <=== note this line -->
  </body>
</html>
