<!DOCTYPE html>
<html>
       <head>
         <title><%= title %></title>
         <link rel='stylesheet' href='/stylesheets/style.css' />
       </head>
       <body>
         <h1>Welcome to Travelpad</h1>
         <a href="/signup" id="signup">Sign up</a>
<br>
<a href="/login" id="login">Log in</a>
       </body>
     <script src="javascripts/pad2.js"></script>
</html>
