<!DOCTYPE html>
<html>
       <head>
         <title><%= title %></title>
         <link rel='stylesheet' href='/stylesheets/style.css' />
       </head>
       <body>
         <!--
         <nav><a href="/signup" id="signup">Sign up</a> / <a href="/login" id="login">Log in</a></nav>
         -->
         <br>
         <h1>Welcome to Travelpad</h1>
       </body>
     <script src="javascripts/pad2.js"></script>
</html>
