<% if (user) { %>
<!--
  <div>
    <a href="/">Index</a>
  </div>
   <a href="/logout">Log out</a>
-->
  <h1>Welcome, <%=user.username%></h1>
  <a href="/travels/new">New travel</a>
  <br>
  <a href="/travels/mytravels">My travels</a>
  <br>
  <a href="/travels">Travels List</a>



<% } %>
