Private page
<% if (user) { %>
  <div>
    <a href="/">Index</a>
  </div>
   <a href="/logout">Log out</a>

   <div><%=user.id%></div>
  <a href="/travels/new">New travel</a>
  <br>
  <a href="/travels/mytravels">My travels</a>
  <br>
  <a href="/travels">Travels List</a>



<% } %>
