<link rel="stylesheet" href="../authstyle/login.css">
<form action="/login" method="POST">
  <div>
    <label for="username">Username:</label>
    <input type="text" name="username">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password">
  </div>
  <% if (typeof message != "undefined") { %>
    <div class="error-message"><%= message %></div>
  <% } %>
  <div>
    <input type="submit" value="Log In">
  </div>
</form>
<p>¿Aún no tienes cuenta?</p>
 <a href="/signup">Sign up</a>
<a href="/auth/facebook"><i class="fa fa-facebook-official" aria-hidden="true"></i>Login With Facebook</a>
<a href="/auth/google"><i class="fa fa-google-plus-square" aria-hidden="true"></i>Login with Google</a>
  <script src="https://use.fontawesome.com/0c95e9c908.js"></script>
