<header><div class="logo"> <img src="/favicon.gif" alt=""> <span>TravelPad</span></div>
  <div class="logNav">
<% if (user != undefined) { %>
  <a href="/logout">Logout</a>
<%} else {%>
  <a href="/login">Login</a>
<% } %>
  </div>
  <div style="clear: both;"></div>
</header>

<div class="container">
  <form class="login" action="/signup" method="POST" id="form-container">
    <label for="username">Username</label>
    <input id="username" type="text" name="username" placeholder="JonSnow">
    <br><br>
    <label for="password">Password</label>
    <input id="password" type="password" name="password" placeholder="Your password">

    <% if (typeof message !== "undefined") { %>
      <div class="error-message"><%= message %></div>
    <% } %>
    <br><br>

    <button class="btn">Create account</button>

    <p class="account-message">
      Do you already have an account?
      <a href="/login">Login</a>
    </p>
  </form>

  <div class="login">
    <a href="/auth/facebook"><i class="fa fa-facebook-official" aria-hidden="true"></i>Signup With Facebook</a><br>
    <a href="/auth/google"><i class="fa fa-google-plus-square" aria-hidden="true"></i>Signup with Google</a>
  </div>
</div>
<script src="https://use.fontawesome.com/0c95e9c908.js"></script>
