<h2>Signup</h2>

<form action="/signup" method="POST" id="form-container">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="JonSnow">
  <br><br>
  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">

  <% if (typeof message !== "undefined") { %>
    <div class="error-message"><%= message %></div>
  <% } %>
  <br><br>

  <button>Create account</button>

  <p class="account-message">
    Do you already have an account?
    <a href="/login">Login</a>
  </p>
</form>
<a href="/auth/facebook"><i class="fa fa-facebook-official" aria-hidden="true"></i>Signup With Facebook</a>
<a href="/auth/google"><i class="fa fa-google-plus-square" aria-hidden="true"></i>Signup with Google</a>
  <script src="https://use.fontawesome.com/0c95e9c908.js"></script>
