<div class="container">
  <form action="/pads"  method="post" enctype="multipart/form-data">
    <div><label for="title">Title: </label><input type="text" placeholder="Introduce a title..." name="title"></div>
    <div><label for="description">Description: </label><input type="text" placeholder="Introduce a description..." name="description"></div>
    <div><label for="country">Countries</label>
      <select name="country" id="country">
        <% countries.forEach( (country) => { %>
        <option type="text" value="<%=country%>"><%= country %></option>
        <% }) %>
      </select>
    </div>
    <div>
      <input type="file" name="photo">
    </div>
    <div><input type="file" accept="image/*" capture="camera"></div>
    <input type="text" name="travelId" value="<%=travelId%>">
    <div><label for="location">Location</label>
      <div><label for="lng">Longitud: </label><input type="text" placeholder="Longitud" name="lng"></div>
      <div><label for="lat">Latitud: </label><input type="text" placeholder="Latitud" name="lat"></div>
    </div>
    <div><button type="submit">Create new Pad</button></div>
  </form>
</div>
