<div class="container">
  <div class="pad">
    <h2>New Pad</h2>
    <form  action="/pads"  method="post" enctype="multipart/form-data">
      <div class="field"><label for="title">Title: </label><input type="text" placeholder="Introduce a title..." name="title"></div>
      <div class="field"><label for="description">Description: </label><input type="text" placeholder="Introduce a description..." name="description"></div>
      <div class="field"><label for="visible">Visible: </label><input type="checkbox" name="visible" checked></div>
      <div class="field"><label for="country">Countries</label>
        <select name="country" id="country">
          <% countries.forEach( (country) => { %>
          <option type="text" value="<%=country%>"><%= country %></option>
          <% }) %>
        </select>
      </div>
      <div class="field">
        <img id="img" src="/images/camera-640-w.png" onclick="upload()" alt="hello"/>
        <input id='camera' type="file" hidden='hidden' accept="image/*" onchange="change()" capture="camera" name="photo">
      </div>
      <div class="field"><input id="filename" type="text"></input></div>
      <input type="text" name="travelId" value="<%=travelId%>">
      <div class="field"><label for="location">Location</label>
        <div><label for="lng">Longitud: </label><input type="text" placeholder="Longitud" id="lng" name="lng"></div>
        <div><label for="lat">Latitud: </label><input type="text" placeholder="Latitud" id="lat" name="lat"></div>
      </div>
      <style>
        #map {
         height: 200px;
         width: 540px;
        }
     </style>
      <div id="map"></div>
      <div class="field"><button type="submit">Create new Pad</button></div>
    </form>
  </div>
</div>



<script src="/javascripts/pads.js"></script>
<script
  async
  defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1-FvA8KZvDu_L8hQzdI0cGVNQHqxtrD0">
</script>
