<header><div class="logo"> TravelPad</div>
  <div class="logNav">
<% if (user != undefined) { %>
  <%=user.username%> /
  <a href="/logout">Logout</a>
<%} else {%>
  <a href="/login">Login</a> /
  <a href="/signup">Signup</a>
<% } %>
  </div>
  <div style="clear: both;"></div>
</header>
<div>
<span class="menu"><a href="/travels/new">New travel</a></span>
<span class="menu"><a href="/travels/mytravels">My travels</a></span>
<span class="menu"><a href="/travels">Travels List</a></span>
</div>
<div class="container">
  <div class="travel">
    <div class="travelText">
      <form action="/travels"  method="post">
        <div>
          <label for="title">Title: </label>
          <input type="text" placeholder="Introduce a title..." name="title">
        </div>
        <div>
          <label for="description">Description: </label>
          <input type="text" placeholder="Introduce a description..." name="description">
        </div>
        <div>
          <label for="travelDate">Date: </label>
          <input type="date" placeholder="Introduce a date.." name="travelDate" value='<%=new Date().toLocaleDateString("es-ES");%>'>
        </div>
        <div>
          <label for="country">Countries</label>
          <select name="country" id="country">
            <% countries.forEach( (country) => { %>
            <option type="text" value="<%=country%>"><%= country %></option>
            <% }) %>
          </select>
        </div>
        <div>
          <button type="submit">Create new Travel</button>
        </div>
      </form>
    </div>
    <div class="ribbon"></div>
  </div>
</div>
